<div [ngClass]="isCollapsed ? 'w-16' : 'w-64'"
    class="h-screen bg-gray-100 dark:bg-gray-900 shadow-lg flex flex-col py-6 transition-all duration-300">

    <!-- Collapse Button -->
    <div class="flex justify-end pr-4 mb-6">
        <button (click)="toggleCollapse()"
            class="text-gray-500 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400 transition">
            <span *ngIf="!isCollapsed">←</span>
            <span *ngIf="isCollapsed">→</span>
        </button>
    </div>

    <!-- Logo Section -->
    <div class="flex items-center justify-center mb-10">
        <span class="text-2xl font-bold text-gray-700 dark:text-white" *ngIf="!isCollapsed">Churn Analytics</span>
        <span *ngIf="isCollapsed" class="text-2xl font-bold text-gray-700 dark:text-white"></span>
    </div>

    <!-- Menu Items -->
    <nav class="flex flex-col gap-4 px-2">
        <!-- Dashboard -->
     <!--    <a routerLink="/dashboard" routerLinkActive="bg-blue-100 dark:bg-blue-700"
            class="flex items-center gap-4 p-2 text-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-blue-700 rounded-md transition-all">
            <span class="text-xl">🏠</span>
            <span *ngIf="!isCollapsed" class="text-md font-medium">Dashboard</span>
        </a> -->
        <!-- Insights -->
   <!--      <a routerLink="/insights" routerLinkActive="bg-blue-100 dark:bg-blue-700"
            class="flex items-center gap-4 p-2 text-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-blue-700 rounded-md transition-all">
            <span class="text-xl">📈</span>
            <span *ngIf="!isCollapsed" class="text-md font-medium">Descriptive Analytics</span>
        </a> -->
        <!-- Predictive Analytics -->
       <!--  <a routerLink="/predictive-analytics" routerLinkActive="bg-blue-100 dark:bg-blue-700"
            class="flex items-center gap-4 p-2 text-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-blue-700 rounded-md transition-all">
            <span class="text-xl">🧠</span>
            <span *ngIf="!isCollapsed" class="text-md font-medium">Predictive Analytics</span>
        </a> -->
        <!-- Writeback Table -->
        <a routerLink="/writeback" routerLinkActive="bg-gray-100 dark:bg-blue-700"
            class="flex items-center gap-4 p-2 text-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-blue-700 rounded-md transition-all">
            <span class="text-xl"> <img src="assets/icons/writeback-table-icon.png" alt="Writeback Table" class="w-5 h-5" /></span>
            <span *ngIf="!isCollapsed" class="text-md font-medium">Writeback Table</span>
        </a>
        <!-- Writeback Table Static Data -->
    <!--     <a routerLink="/writeback-static-data" routerLinkActive="bg-blue-100 dark:bg-blue-700"
            class="flex items-center gap-4 p-2 text-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-blue-700 rounded-md transition-all">
            <span class="text-xl">✍️</span>
            <span *ngIf="!isCollapsed" class="text-md font-medium">Writeback-static</span>
        </a> -->
    </nav>

</div>